{% extends 'Teacher/teachers_base.html' %}
{% block content %}


<div class="subject-select-content-container">


<div class="subjects-select-view">

    <div class="sub-card">
        <h5>Silver</h5>
        <br>
        <div>
            <h6>15,000 P/M</h6>
        </div>
        <br>
        <div>
            <h3>Perks</h3>
            <br>

            <p><b>Storage</b> 100 GB</p>
            <p><b>AI/Data Analytics</b> X</p>
            <p><b>Speed</b> Normal</p>
            <p><b>Customer Support</b> 1 Hr</p>
            <p><b>Maximum Users</b> 700 Students</p>
        </div>

    </div>

    <div class="sub-card">
        <h5>Platinum</h5>
        <br>
        <div>
            <h6>25,000 P/M</h6>
        </div>
        <br>
        <div>
            <h3>Perks</h3>
            <br>
            <p><b>Storage</b> 200 GB</p>
            <p><b>AI/Data Analytics</b> Y</p>
            <p><b>Speed</b> Fast</p>
            <p><b>Customer Support</b> 20 Min</p>
            <p><b>Maximum Users</b> 2000 Students</p>
        </div>
    </div>

    <div class="sub-card">
        <h5>Custom</h5>
        <br>
        <div>
            <h6>30,000 + P/M</h6>
        </div>
        <br>
        <div>
            <h3>Perks</h3>
            <br>
            <p><b>Storage</b> 1000 GB</p>
            <p><b>AI/Data Analytics</b> Y</p>
            <p><b>Speed</b> Super Fast Servers</p>
            <p>Flexible</p>
            <p><b>Customer Support</b> 5 Min</p>
            <p><b>Maximum Users</b> 2500 Students</p>
        </div>

    </div>


</div>






</div>



{% endblock %}