
::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(29, 25, 46, .8);
    height: 10px;
    border-radius: 10px;
  }

.supervisor-home-view{
    display:grid;
    grid-template-columns:repeat(3, .7fr);

}
.panel{
    display: grid;
    grid-template-columns: repeat(4, .4fr);
    margin: 0 auto;
    width: 90%;
}
.panel-card{
    background-color:rgba(10, 111, 129, 0.8) !important;
    /* box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.09); */
    /* background: #EF665B; */

    width: 80%;
    height: 190px;
    color: white;
    padding: 20px;
    margin: auto auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px -3px #111;

    /* border: 5px solid cornflowerblue; */

}
.bottom{
    position: absolute;
    bottom: 5px;
    padding: 5px;
}
.data{
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.09);
    background-color:rgba(29, 25, 46, .8) !important;
    display: grid;
    grid-template-columns: repeat(3, .4fr);
    text-align: center;
    width: 85%;
    margin: auto auto;
    padding: 40px;
    color: white;
    /* border: 5px solid cornflowerblue; */
    border-radius: 20px;
}
.data div{
    margin: auto auto;
}
.progress-canvas{
    width: 250px;
    height: 250px;
}
.users-view{
    display: grid;
    grid-template-columns: repeat(4, .5fr);
    margin: 0 auto;
    row-gap: 20px;
    width: 90%;
}
.user-card{
    width:90%;
    height:150px;
    margin: 0 auto;
    font-family: cursive;
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.09);
    background-color:rgba(29, 25, 46, .8) !important;
    color: white;
    padding:20px;
    border-radius: 10px !important;
    position: relative;
}
.bottom-left{
    position: absolute;
    bottom: 10px;
    right: 10px;
    zoom: .8;
}
.admin-2{
    margin: 20px auto;
    width: 85%;
    height: max-content;
    background-color:rgba(255, 255, 255, 1) !important;
}
.new-users{
    width:80%;
    height:350px;
    margin: auto auto;
    box-shadow: 2px 0px 6px 2px rgba(0, 0, 0, 0.06);
    overflow-y: scroll;
    zoom: .8;
}
.new-users::-webkit-scrollbar {
    width: 12px; /* Adjust the scrollbar width as needed */
    color: purple;
}

.new-users::-webkit-scrollbar-button {
    background-color: #4CAF50; /* Button background color */
    height: 12px; /* Button height */
    width: 12px; /* Button width */
    color: purple;
}
.insight{
    width: 85%;
    margin: 0 auto;
    box-shadow: 2px 4px 20px 5px rgba(41, 39, 39, 0.09);
    background-color:rgba(29, 25, 46, .8) !important;
    border-width: 4px;
    height: 680px;
    
    
}

.bg-gradient{
    position: absolute;
    top: 57px;
    min-height: 100vh;
    height: max-content;
    /* background: radial-gradient(780px at 37.8% 100.3%, rgb(19, 55, 115) 2.2%, rgb(32, 7, 80) 20.2%, rgb(27, 88, 111) 58.6%, rgb(115, 88, 44) 75%, rgb(99, 19, 90) 89.6%, rgb(12, 51, 76) 96.1%) !important; */
    width: 100%;
    background: #132743 !important;
    
  }

.task-card{
    width:90%;
    height:250px;
    box-shadow: 2px 4px 20px 5px rgba(37, 36, 36, 0.09);
    padding:20px;


}
.profile-card{
    overflow: hidden;
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: 65% 35%;

    height: 400px;
    padding:20px;
    border-radius: 20px;
    border: 5px solid cornflowerblue;
    width: 93%;
    max-width:1800px;
    background-color: #fff;
    color: #000;
    /* box-shadow: 0px 90px 1360px 310px rgba(123, 64, 160, 0.08); */
  
}


.test-progress{
    display: grid;
    width: 60%;
    margin-top: 40px;
    margin-left: 40px;
    max-width: 500px;
    grid-template-columns: auto auto auto auto auto auto ;
}
.profile-panel-view{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    width: 95%;
    
    background-color:rgba(29, 25, 46, .8);

    display: flex;
    align-items: center;
    height: 300px; /* Set a fixed height or adjust as needed */
    border: 1px solid #ccc
}
.profile-panel-card{
    overflow: hidden;
    margin:50px auto;
    height: 200px;
    border-radius: 30px;
    padding:20px;
    border-radius: 0.5rem;
    border: 2px solid linear-gradient(to right,rgb(142, 110, 255),rgb(208, 195, 255));
    width: 95%;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 90px 41360px 310px rgba(123, 64, 160, 0.08);
}
.class-subject-view{
    display: grid;
    grid-template-columns: repeat(4, .4fr);
    row-gap: 20px;
}
.class-subject-card{
    width: 95%;
    height: 200px;
    padding: 10px;
    
    background-color: rgba(221, 14, 152, 0.1);
    border-radius: 10px;
}

.receipt-card{
    width: 80%;
    height: 400px;
    padding: 20px;
    margin: 0 auto;
    position: relative;;
    
    background-color: rgba(251, 214, 252, 0.1);
    border-radius: 10px;
}
.receipt-amount{
    position: absolute;
    right: 5px;
    top: 7px;
}
.beneficiary-body{
    padding: 10px;
    height: 60%;
    overflow-y: scroll;
}
.receipt-beneficiaries{
    padding-left: 10px;

    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.confirmation{
    width: 80%;
    height: 80%;
    background-color: #000;
    color: #fff;
    position: absolute;
    padding: 30px;
    opacity: 80%;
    backface-visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;
    top: 15%;
    right: 10%;
    /* margin: 0 auto; */
    
}
.course-container{
    height: max-content;
    padding: 30px;
    background-color: white !important;
    border-radius: 10px;
    color: cornflowerblue !important;
    border: 5px solid cornflowerblue;
    font-family: cursive;
    text-align: center;
}
.course-view{
    grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
    display: grid;
    gap: 30px;


}
.form-view{
    background-color:rgba(29, 25, 46, .8);
    min-height: 300px;
    height: max-content;
    border-radius: 10px;
    border: 5px solid cornflowerblue;
    color: cornflowerblue;
    padding: 30px;
}
.subject-course-view{
    grid-template-columns: auto auto ;
    margin: 0 auto;
    padding: 40px;
    width: 50%;
 
    display: grid;

}

/* COURSE MANAGEMENT */
.pop-up {
    display: none;
    background-color: #132743;
    position: fixed;
    height: 400px;
    width: 60%;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 5px solid cornflowerblue;
}
.delete-pop-up {
    display: none;
    background-color: #132743;
    position: fixed;
    height: 400px;
    width: 60%;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 5px solid cornflowerblue;
}
.center-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1200px) {
    .users-view{
        grid-template-columns: repeat(3,.7fr);
        width: 93%;
    }
    .panel{
        grid-template-columns: repeat(3,.7fr);
        width: 95%;
    }
    .panel-card{
        width: 95%;
        height: 120px;
    }
    .profile-panel-card{
        margin: 20px auto;
    }
}

@media (max-width: 1150px) {
    .progress-canvas{
        width: 230px;
        height: 230px;
    }

}

@media (max-width: 900px) {
    .users-view{
        grid-template-columns: repeat(2,.7fr);
        width: 98%;
    }
    .data{
        grid-template-columns: repeat(2, .7fr);
        width: 95%;
    }
    .panel{
        grid-template-columns: repeat(2,.7fr);
        row-gap: 20px;
        width: 98%;
    }
    .insight{
        width: 95%;
        height: 400px;
    }
    
    }

    @media (max-width: 700px) {
        .profile-card{
            display: inline-block !important;
            margin: 0 auto;
            /* top: 50%; */
            left: 50%;
            transform: translate(-50%);
            padding: 10px;
            overflow-y: scroll;
        }
        .user-info{
            padding: 30px;
        }


    }
    @media (max-width: 600px) {

        .data{
            display: inline;
            border: none;
            background-color: #132743 !important;
        }


    }
    
