{% extends base_html %}
{% load custom_filters %}
{% block content %}


<div class="container">
    <br>
    <br>
    <br>
    {% if user.role != 'Student' %}
        <h6>{{ marks.user.personalprofile.surname|title }} {{ marks.user.personalprofile.f_name|title }} {{ marks.user.personalprofile.l_name|title }}
        </h6>
    {% else %}

    {% endif %}
    <br>

    {% if instance == 'ClassTests' %}
        <h6>Scores {{ marks.marks }} / {{ marks.test.test_size }}</h6>
    {% else %}
        <h6>Scores {{ marks.marks }} / {{ marks.test_size }}</h6>
    {% endif %}
    
    {% for quiz in quizzes %}


    <div>
        {% if quiz.is_correct == False %}
        <div style="color:crimson;">
            <h6>{{ forloop.counter }}) {{ quiz.quiz.quiz }}</h6>
            <div style="padding-left:15px;">
                <small style="padding-left:15px;">You chose {{ quiz.selection.choice }}</small><i style="font-size:30px;color:crimson;" class="bi bi-x"></i><small>{{ quiz.is_correct }}</small><br>
                <small style="color:green;padding-left:15px;"><b>Correct choice is </b> {{ quiz.quiz.quiz|get_correct_choice }}</small>

                
            </div>

        </div>

        {% else %}
        <div>
            <h6 style="color:purple;">{{ forloop.counter }}) {{ quiz.quiz.quiz }}</h6>

            <div style="padding-left:15px;">
                <small>{{ quiz.selection.choice }}</small><i style="font-size:30px;color:green;" class="bi bi-check-all"></i>
                <small>{{ quiz.is_correct }}</small>
            </div>
        </div>
        {% endif %}
    </div>


    {% endfor %}


</div>






{% endblock %}