{% extends base_html %}
{% load custom_filters %}

{% block content %}


<div class="subject-select-content-container">
<br>
<br>

<div class="container dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Grade {{ grade }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'learner-learning-progress' email '4' %}">4</a></li>
        <li><a class="dropdown-item" href="{% url 'learner-learning-progress' email '5' %}">5</a></li>
        <li><a class="dropdown-item" href="{% url 'learner-learning-progress' email '6' %}">6</a></li>
        <li><a class="dropdown-item" href="{% url 'learner-learning-progress' email '7' %}">7</a></li>
      </ul>
    </div>
<br>
{% if not subject %}
<div style="margin:0 auto;width:90%;">
            <h6 class="text-center alert alert-light">This student has no learning history</h6>

    </div>
    {% else %}


  <div>
<div class="subjects-select-view">



        {% for prog in subject %}
        <div class="subject-select-card">

            <a href="{% url 'learners-syllabus' prog.subject__name grade email %}"><h6 class="p-txt"><i class="bi bi-bookmark-plus"></i> {{ prog.subject__name }}</h6></a>
           
    <br>
            <div class="kid-in-card">
                <small class="text-muted">progress</small><br>
                <small >Topics covered  <span class="badge bg-info" style="margin-left: 30px;">{{ prog.topic_count }}</span></small>
                <br>
                <small >Total topics  <span class="badge bg-secondary" style="margin-left:50px;">{{ prog.subject__topics  }}</span></small>
                <br><br>
                <div class="progress" style="width: 80%;">
                    <div class="progress-bar" role="progressbar" style="width: {{ prog.topic_count|divide:prog.subject__topics }}%; background-color: purple;" aria-valuenow="{{ prog.topic_count }}" aria-valuemin="0" aria-valuemax="{{ prog.subject__topics }}">{{ prog.topic_count|divide:prog.subject__topics }}%</div>
                </div>
            </div>
            

        </div>

        {% endfor %}
    </div>

{% endif %}
</div>



</div>






{% endblock %}