{% extends base_html %}
{% load custom_filters %}



{% block content %}
<br><br><br><br>

<div class="bg-gradient">
    <br><br><br>
    <div class="container">



        <div class="users-view">
            {% for class in classes %}
            <a href="{% url 'class-profile' class.class_id %}">
                <div class="user-card">
                    <h5>{{ class }}</h5>
                    <p>Grade {{ class.grade }}</p>
                    <h6>Class Size {{ class.class_size }}</h6>
                </div>
            </a>
        
           
            
        
            
            {% endfor %}
        </div>
    </div>
        

</div>









{% endblock %}