{% extends 'Supervisor/base.html' %}
{% load custom_filters %}



{% block content %}

<br><br><br><br>
<div class="bg-gradient">

    <div class="container">
        <br><br>
        
        

        <div class="form-view">
        <h5 class="text-center" style="font-size: 30px;"> <i class="bi bi-send-check" > </i>Extra Curricular Activity</h5>
        <br>
        
     
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <br>
            <div class="r">
                
                <label for="inputField1" class="form-label" >Title<strong style="color: crimson;">(required)</strong></label>
                <input type="text" class="form-control"  name="title" placeholder="PGA MEETING" required style="border: 3px solid cornflowerblue;">
            </div>
            <br><br>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="description" style="height: 200px;"></textarea>
                <label for="floatingTextarea">Description</label>
              </div>
            <br>
        
            <br>
            <button class="btn btn-info" style="color: white;">NEXT</button>        
        <br>
            </form>
        </div>
        <br><br>
    </div>


</div>

{% endblock %}