{% extends 'Supervisor/base.html' %}
{% load custom_filters %}

{% block content %}


<br>
<br>
<br>
<br>

<div class="container">
    <a  href="{% url 'manage-user' user %}" class="btn btn-warning" style="color: white;">Manage Student</a>
    <br><br>
    <div class="badge bg-dark">
        <h5 >{{ user.personalprofile.f_name|title }} {{ user.personalprofile.l_name.0|title }}. {{ user.personalprofile.surname|title }}</h5>
    </div>
    <br><br>
    <div class="profile-card">
        <div class="test-progress">
        {% for subject in subjects %}
            <div>
                <div class="d-flex" style="height: 200px; color: rgb(0, 0, 0);">
                    <div class="vr" style="width: 10px;"></div>      
                </div>
                {{ subject }}
            </div>
        {% endfor %}
        </div>

        <div class="user-info">
            <h6>{{ user.personalprofile.f_name|title }} {{ user.personalprofile.l_name.0|title }}. {{ user.personalprofile.surname|title }}</h6>
            <p>Grade {{ user.academicprofile.current_class|title }}</p>
            <p>Adm No C14/177</p>
            <p>Discipline Score <button class="btn btn-info" style="color: white;">{{ user.studentdisciplinescore.points }}</button></p>
            <p>School Fees Balance <button  class="btn btn-info" style="color: white;">{{ user.studentsfeeaccount.balance }}</button></p>
            {% if user.is_active %}
                <p style="color:green">Active</p>
            {% else %}
                <p style="color:rgb(255, 12, 44)">In-Active </p>
            {% endif %}


        </div>
    </div>
</div>

<div class="subjects-select-view">
<div>

        <div class="subject-select-card">
            
            <h6 >I AM Learning</h6>
            <br>
            <p>To view a students online learning progress and exams click here
                
            </p>
            <a class="btn btn-info" href="{% url 'task-view-select' user %}">E-Learning</a>


            <p>To view students school graded exams, click here
                
            </p>
            <a  class="btn btn-warning" href="{% url 'students-exam-profile' user %}">Exams</a>
            
            
  
        </div>


    
</div>
    <a href="{% url 'students-discipline' user %}">
        <div class="subject-select-card">
            <h6>Extra Curricular</h6>
            <br>
            <p>View students discipline, conduct and Extra Curricular activities</p>
            <pre>
                Games
                clubs
                competitions
            </pre>
        </div>
    </a>
    

    <a href="{% url 'student-fee-profile' user %}">
        <div class="subject-select-card">
            Fees
    
            <p>View and Manage School Fees Payments</p>
        </div>
    </a>
    

</div>








{% endblock %}