{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
<div class="container">

    <form method="post">
        {% csrf_token %}
        <div class="dropdown" style="padding-left:25px;">
            <button class="btn btn-secondary dropdown-toggle" name="select" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Grade {{ grade }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><button value="4" name="select"   class="dropdown-item" >4</button</li>
                <li><button value="5" name="select" class="dropdown-item">5</button></li>
                <li><button value="6" name="select" class="dropdown-item" >6</button></li>
                <li><button value="7" name="select" class="dropdown-item" >7</button></li>
            </ul>
        </div>
    </form>

</div>



<div class="container">
    <br>
    <h6>{{ user.personalprofile.f_name|title }} {{ user.personalprofile.l_name|title }}. {{ user.personalprofile.surname|title }}</h6>
    <p>Grade {{ user.academicprofile.current_class|title }}</p>

</div>

<div class="container">
    <br>
    <h6>Term 1</h6>
    {% if term1 %}
    <h6>Term Average {% get_user_term_average user grade 'Term 1' %}</h6>
    <table class="table">
        <thead>
          <tr>
            <th><h6>Subject</h6></th>
             <th><h6>Score</h6></th>
            <th><h6>Grade</h6></th>
            <th><h6>Comments</h6></th>
          </tr>
        </thead>
        <tbody>
          {% for score in term1 %}
              <tr>
                  <td><a href=""><h6>{{ score.subject }}</h6></a></td>
                  <td>{{ score.score }}</td>
                  <td>A</td>
                  <td><i class="bi bi-check-all" style="font-size: 17px;">{{ score.comments }}</i> </td>
              </tr>
          {% endfor %}
        </tbody>
     </table>
     {% else %}
      <h6>Grade {{ grade }} Term 1 results are not available.</h6>
     {% endif %}
</div>
<br>
<div class="container">

  <h6>Term 2</h6>
  {% if term2 %}
  <h6>Term Average {% get_user_term_average user grade 'Term 2' %}</h6>

  <table class="table">
      <thead>
        <tr>
          <th><h6>Subject</h6></th>
           <th><h6>Score</h6></th>
          <th><h6>Grade</h6></th>
          <th><h6>Comments</h6></th>
        </tr>
      </thead>
      <tbody>
        {% for score in term2 %}
            <tr>
                <td><a href=""><h6>{{ score.subject }}</h6></a></td>
                <td>{{ score.score }}</td>
                <td>A</td>
                <td><i class="bi bi-check-all" style="font-size: 20px;">Perfect Score</i> </td>
            </tr>
        {% endfor %}
      </tbody>
   </table>
   {% else %}
      <h6>Grade {{ grade }} Term 2 results are not available.</h6>
     {% endif %}
</div>
<div class="container">
  <br>

  <h6>Term 3</h6>
  {% if term3 %}
  <h6>Term Average {% get_user_term_average user grade 'Term 3' %}</h6>

  <table class="table">
      <thead>
        <tr>
          <th><h6>Subject</h6></th>
           <th><h6>Score</h6></th>
          <th><h6>Grade</h6></th>
          <th><h6>Comments</h6></th>
        </tr>
      </thead>
      <tbody>
        {% for score in term3 %}
            <tr>
                <td><a href=""><h6>{{ score.subject }}</h6></a></td>
                <td>{{ score.score }}</td>
                <td>A</td>
                <td><i class="bi bi-check-all" style="font-size: 20px;">Perfect Score</i> </td>
            </tr>
        {% endfor %}
      </tbody>
   </table>
   {% else %}
      <h6>Grade {{ grade }} Term 3 results are not available.</h6>
     {% endif %}
</div>


{% endblock %}