{% extends base_html %}
{% load custom_filters %}

{% block content %}


<br>
<br>
<br>
<br>
<div class="bg-gradient">
    <br><br>
<div  >
    <div class="container">
    {% if request.user.role == 'Supervisor' %}
    <a  href="{% url 'manage-user' user %}" class="btn btn-warning" style="color: white;">Manage Student</a>
    {% endif %}
    <br>
    
    <div class="badge bg-dark">
        <h5 >{{ user.personalprofile.f_name|title }} {{ user.personalprofile.l_name.0|title }}. {{ user.personalprofile.surname|title }}</h5>
        {% if request.user.role == 'Student' %}
            <a class="btn btn-info" href="{% url 'update-profile' %}">Edit Profile</a>
      
        {% endif %}
    </div>
</div>
    
    <br><br>
    <div class="profile-card" style="margin: 0 auto;">
        <div class="test-progress">
        {% for subject in subjects %}
            
            <div>
                {{ subject.course.abbreviation }}
                <br><br>
                <div class="d-flex" style="height: {{ user|get_student_latest_score:subject.id }}px; color: rgb(0, 0, 0);">
                    <div class="vr" style="width: 10px;"></div>      
                </div>
                
                
            </div>
        {% endfor %}
        </div>

        <div class="user-info">
            <h6>{{ user.personalprofile.f_name|title }} {{ user.personalprofile.l_name.0|title }}. {{ user.personalprofile.surname|title }}</h6>
            <p>Grade {{ user.academicprofile.current_class|title }}</p>
            <p>Adm No C14/177</p>
            <p>Discipline Score <button class="btn btn-info" style="color: white;">{{ user.studentdisciplinescore.points }}</button></p>
            <p>School Fees Balance <button  class="btn btn-info" style="color: white;">{{ user.studentsfeeaccount.balance }}</button></p>
            {% if user.is_active %}
                <p style="color:green">Active</p>
            {% else %}
                <p style="color:rgb(255, 12, 44)">In-Active </p>
            {% endif %}


        </div>
    </div>
</div>
<br><br>

<div class="users-view" style=" ">

    <a   href="{% url 'students-exam-profile' user %}">
        <div class="user-card" style="height: 200px !important;">
            <h5>Exams</h5>
            
            <h6 >I AM Learning</h6>
            <br>
            <p>To view a students online learning progress and exams click here
                
            </p>

        </div>
    </a>
        <a href="{% url 'task-view-select' user %}">
        <div class="user-card" style="height: 200px !important;">
            <h5>E-Learning</h5>
            <h6 >I AM Learning</h6>
            <br>

            <p>To view students school graded exams, click here                
            </p>
  
        </div>
    </a>



    <a href="{% url 'students-discipline' user %}">
        <div class="user-card" style="height: 200px !important;">
            <h6>Extra Curricular</h6>
            <br>
            <p>View students discipline, conduct and Extra Curricular activities</p>
            
        </div>
    </a>
    

    <a href="{% url 'student-fee-profile' user %}">
        <div class="user-card" style="height: 200px !important;">
            Fees
    
            <p>View and Manage School Fees Payments</p>
        </div>
    </a>
    

</div>
<br><br>



</div>



{% endblock %}