{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>

<div class="container">
    <a href="{% url 'create-user' %}"><button class="btn btn-warning">Add Student</button></a>

    <br><br>
    <form method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
          <input type="text" class="form-control" name="search" placeholder="search by name, email or admission" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search/Reset</button>
      </div>
    </form>
    

    <table class="table">
        <thead>
          <tr>
            <th><h6>User</h6></th>
            
            <th><h6>Class</h6></th>
            <th><h6>School</h6></th>
            <th><h6>Status</h6></th>
          </tr>
        </thead>
        <tbody>
          
            {% for user in users %}
            
            <tr>
              {% if user.is_active %}
              <td><a href="{% url 'students-profile' user %}"><h6>{{ user.personalprofile.f_name }} {{ user.personalprofile.l_name }} {{ user.personalprofile.surname }}</h6></a></td>
              <td>{{ user.academicprofile.current_class }} </td>
              <td>Excel Academy</td>
              
                <td style="color: cornflowerblue;">Active</td>
              {% else %}
              <td><a href="{% url 'students-profile' user %}" style="color: crimson;"><h6>{{ user.personalprofile.f_name }} {{ user.personalprofile.l_name }} {{ user.personalprofile.surname }}</h6></a></td>
              <td style="color: crimson;">{{ user.academicprofile.current_class }} </td>
              <td style="color: crimson;">Excel Academy</td>
                <td style="color: crimson;">Disabled</td>
              {% endif %}
            </tr>
            {% endfor %}
         
        </tbody>
     </table>
</div>
















{% endblock %}