{% extends 'Supervisor/base.html' %}
{% load supervisor_filters %}
{% load static %}
{% block content %}


<br>
<br>
<br>
<br>


<!--<h6>{{ user.role }}</h6>-->
<div class="bg-gradient" >
 <div class="subject-select-content-contaier" >
    <br>
    <br>

    <div class="users-view">
        <div class="user-card">
            All Users<br>
            <h4 style="font-size: 50px;">{{ users }}</h4>

        </div>
        <a class="no-style" href="{% url 'students-view' %}">
            <div class="user-card">
                Students<br>
                <h4 style="font-size: 50px;" >{{ students }}</h4>
                <small>Males {{ males }} | Females {{ females }}</small>
                
            </div>
        </a>
        <a class="no-style" href="{% url 'teachers-view' %}">
            <div class="user-card">
                Teachers<br>
                <h4 style="font-size: 50px;">{{ teachers }}</h4>
                <small>Males {{ t_males }} | Females {{ t_females }}</small>
                

            </div>
        </a>

        <div class="user-card">
            Guardians<br>
            <h4 style="font-size: 50px;">{{ parents }}</h4>
            <small>Males {{ g_males }} | Females {{ g_females }}</small>

        </div>

    </div>


<br><br><br><br>

<div class="data">
    <div class="fee-card">
        <h5>Fees</h5>
        <br>
        <div class="progress-canvas">
            <canvas id="doughnutChart1"  height="100"></canvas>
        </div>
        {% with get_fee_balances as progress %}
        <script>
            var ctx1 = document.getElementById('doughnutChart1').getContext('2d');
            var doughnutChart1 = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                
                    datasets: [{
                        data: [{{ progress }}, {{ progress|add:"-100" }}],

                        backgroundColor: ['#52A2EF', '#FF6344'],
                    }]
                },
            });
        </script>
        {% endwith %}
    </div>

    <div class="fee-card">
        <h5>Invoices</h5>
        <br>
        <div class="progress-canvas">
            <canvas id="doughnutChart2"  ></canvas>
        </div>
        {% with get_invoice_balances as progress %}
        <script>
            var ctx2 = document.getElementById('doughnutChart2').getContext('2d');
            var doughnutChart2 = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                
                    datasets: [{
                        data: [{{ progress }}, {{ progress|add:'-100' }}],
                        backgroundColor: ['#36A2EB', '#FF6384'],
                    }]
                },
            });
        </script>
        {% endwith %}
    </div>

    <div class="fee-card">
        <h5>Balances</h5>
        <br>
        <div class="progress-canvas">
            <canvas id="doughnutChart3"  ></canvas>
        </div>
        
        <script>
            var ctx3 = document.getElementById('doughnutChart3').getContext('2d');
            var doughnutChart3 = new Chart(ctx3, {
                type: 'doughnut',
                data: {
                
                    datasets: [{
                        data: [70, 30],
                        backgroundColor: ['#36A2EB', '#FF6384'],
                    }]
                },
            });
        </script>
    </div>


</div>

<br><br>

<div >


    <div class="panel">
        <a href="{% url 'create-term' %}">
            <div class="panel-card">
    

                <h5>{{ current_term }}</h5>
                <small>{{ current_term.term.year }}</small>
                <br>
    
                <small class="bottom">set and manage terms</small>
            </div>
        </a>
        
        <a href="{% url 'school-fees-balances' %}">
            <div class="panel-card">
                <h5>Fee Management</h5>
            </div>
        </a>

        <a href="{% url 'create-course' %}">
            <div class="panel-card">
                <h5>Course Management</h5>
            </div>
        </a>
        

        <div class="panel-card">
            <h5>Biometrics Admin</h5>
        </div>


    </div>

<br><br>
<div  class="insight">
    
    <br><br>
    <form method="post" style="width: 80%;margin: auto auto;">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="{{ year }}" name="year" required>

            <select class="form-select" aria-label="Default select example" name="term" required>
                <option value="{{ term }}" selected>{{ term }}</option>
                <option value="Term 1">Term 1</option>
                <option value="Term 2">Term 2</option>
                <option value="Term 3">Term 3</option>
                
        
        
              </select>
            <button class="btn btn-dark" type="submit">SET</button>
        </div>
    </form>
    <br>
    <div class="admin-2">
        <div style="width: 85%;margin: auto auto;">
            <canvas id="myChart" ></canvas>
        </div>

       

    </div>
    
  </div>

  
  



<div class="subjects-select-view" >
    <a href="{% url 'subject-view' 4 %}">

    <div class="subject-select-card">
        <h6>Analyticss</h6>
        <img src="{% static 'Supervisor\GOLD-6487-CareerGuide-Batch04-Images-GraphCharts-01-Line.jpg' %}" style="zoom: .45;">
    </div>
        </a>
    <a href="{% url 'classes' %}">
        <div class="subject-select-card">
        <h6>Classes</h6>
        <img src="{% static 'Supervisor\funny-alphabet-with-kids-abcd-vector-1303233.webp' %}" style="zoom:.24; background-repeat: no-repeat; background-position: center center;">
    </div>
    </a>
    <a href="{% url 'teachers-view' %}">
        <div class="subject-select-card">
        <h6>Assignments</h6>
        <p>View teachers profiles and their class assignments results analytics.</p>
        <ul>
            <li>Teachers Profile</li>
            <li>Class Assignments</li>
            <li>Class Assignment Analytics</li>
            <li>Class performance</li>
            <li>Class Predictions</li>
        </ul>
    </div>
    </a>


</div>

<script>
    var labels = {{ chart_data.labels|safe }};
    var datasets = {{ chart_data.datasets|safe }};

    var config = {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets,
        },
        options: {
            scales: {
                y: {
                    type: 'linear',
                    position: 'bottom',
                    title: {
                        display: true,
                        text: 'Number Of Students'
                    }
                },
                x: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Total Marks Distribution'
                    }
                }
            }
        }
    };

    // Get the canvas element and render the chart
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, config);
</script>
  

<script>
    // Example data for different categories
    var data = {
        labels: ['Paid', 'Not Paid'],
        datasets: [{
            data: [60, 40], // Adjust the values as needed
            backgroundColor: ['#4CAF50', '#FFC107'], // Adjust the colors as needed
            hoverBackgroundColor: ['#45A049', '#FFA000'], // Hover colors
            borderWidth: 1,
        }]
    };

    var config = {
        type: 'doughnut',
        data: data,
        options: {
            cutout: '80%', // Adjust the cutout percentage as needed
            fontColor:'white',
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom', // Adjust the legend position as needed
                    labels: {
                    fontColor: 'white', // Set the font color of the legend labels
                },
                }
            }
        }
    };

    var ctx = document.getElementById('feeClearanceChart').getContext('2d');
    var myChart = new Chart(ctx, config);
    var ctx = document.getElementById('feeClearanceChart2').getContext('2d');
    var myChart = new Chart(ctx, config);
    var ctx = document.getElementById('feeClearanceChart3').getContext('2d');
    var myChart = new Chart(ctx, config);
</script>

</div>
</div>
{% endblock %}