{% extends 'Supervisor/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}



<div class="bg-gradient">
<div class="container for">
    <br><br><br><br>
    <div class="course-container">
        <div class="course-view">
            {% for course in courses %}
                <a href="{% url 'manage-course' course.id %}"><h6><i class="bi bi-bookmark-plus"></i> {{ course }}</h6></a>
            {% endfor %}
        </div>
    </div>
    
    <br><br><hr class="text-center"><br>
    <div class="form-view">

    <h3 class="text-center" ><i class="bi bi-plus-square-fill"> </i>Add Course </h3>
    <br><br>
    
    
        <div class="row mb-3">
            <div class="col-md-6">
            
                <label for="inputField1" class="form-label">Name*<strong style="color: crimson;">(required)</strong></label>
                <input type="text" class="form-control"  name="name" placeholder="Mathematics" required>
            </div>
           
            <div class="col-md-6">
                <label for="inputField2" class="form-label">Discipline*<strong style="color: crimson;">(required)</strong></label>
                <input type="text" class="form-control"  name="discipline" placeholder="Science" required>
            </div>
        </div>

        
    
    <button class="btn btn-info" style="color: white;" onclick="togglePopUp()">Save</button>
</div>
<br><br>
    

</div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="pop-up">
        <br>
        <h5 style="font-family: cursive;" class="text-center">Create Course </h5>
        <br>
        <div class="center-input">
            <div class="col-md-6">
                <input type="text" class="form-control"  name="subject" placeholder="Science" readonly>
            </div>
            <br>
            <div class="col-md-6">
                <input type="text" class="form-control"  name="type" placeholder="Science" readonly>
            </div>
            <br><br><br>
            <button class="btn btn-primary">Save</button>
        </div>
        
        
    </div>
</form>

<script>
    function togglePopUp() {
        var popUpDiv = document.querySelector('.pop-up');
        var containerDiv = document.querySelector('.container');
        var subjectInput = document.querySelector('.pop-up [name="subject"]');
        var typeInput = document.querySelector('.pop-up [name="type"]');
        var nameInput = document.querySelector('[name="name"]');
        var disciplineInput = document.querySelector('[name="discipline"]');

        // Toggle the display of the pop-up
        popUpDiv.style.display = (popUpDiv.style.display === 'none' || popUpDiv.style.display === '') ? 'block' : 'none';

        // Set the values of subject and type inputs
        subjectInput.value = nameInput.value;
        typeInput.value = disciplineInput.value;

        // Toggle the opacity of the container
        containerDiv.style.opacity = (containerDiv.style.opacity === '0.23' || containerDiv.style.opacity === '') ? '.2' : '0.23';
    }
</script>



{% endblock %}