

/* FOR GUARDIAN HOME */
.guardian-home-view{
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    margin:100px auto;

    row-gap: 20px;
    column-gap:20px;
    width:90%;
    max-width: 1400px;
    background-color:rgba(29, 25, 46, .8);
    
    padding-top:30px;
    padding-bottom:40px;
}
.guardian-home-card{
    width:80%;
    height:300px;
    border-radius:2px;
    box-shadow: 2px 4px 40px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
.guardian-card-body{
    font-weight:light;
    box-shadow: 0 0 2px 0 rgba(0, .2, 0, 0.2);
    width:98%;
    height:60%;
    margin:0 auto;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-arrow-color: brown;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.guardian-card-body::-webkit-scrollbar {
    width: 8px;
}

.guardian-card-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.guardian-card-body::-webkit-scrollbar-thumb {
    background-color:  #555;
    border-radius: 4px;
}

.guardian-card-body::-webkit-scrollbar-thumb:hover {
    background-color:purple;
}

.guardian-home-card a{
    align-self: flex-end;
    position:absolute;
    bottom:5px;
    margin:0 auto;
    
}
.guardian-home-card i{
    color: rgb(9, 12, 78);
}
.guardian-home-card small{
    color: purple;    
    font-size: 15px;
}
.task-select{
    display:grid;
    grid-template-columns:repeat(2,.5fr);
    width: 95%;
    max-width: 1300px;
    margin:40px auto;
    background-color:rgba(29, 25, 46, .8);

}
.task-select-card{
    width:300px;
    height:250px;

}

.active{
    color:green !important;

}
.error{
    color:crimson !important;
}

/* GUARDIAN HOME END */



/* FOR CHILD SELECT */
.kids-view{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:0 auto;
    width:90%;
}
.kid-card{
    width: 95%;
    height: 250px;
    border-radius: 10px;
    background-color:white;
    padding:15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

    margin-top: 30px;

}
.kid-card small{

    font-size: 12px;
}
.kid-exam-card{
    width: 95%;
    height: 280px;
    padding: 15px;
    box-shadow: 2px 4px 20px 5px rgba(0, 0, 0, 0.09);

}
.kid-exam-topics-card{
    width: 99%;
    height: 40%;
    border-radius: 5px;
    padding-top: 5px;
    padding:5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    overflow-y: scroll;

}
.kid-exam-progress-card{
    width: 99%;
    height: 30%;
    border-radius: 5px;
    padding-top: 5px;
    padding:5px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    }
    .kid-exam-topics-card::-webkit-scrollbar {
        width: 8px;
    }
    
    .kid-exam-topics-card::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
    
    .kid-exam-topics-card::-webkit-scrollbar-thumb {
        background-color:  #555;
        border-radius: 4px;
    }
    
    .kid-exam-topics-card::-webkit-scrollbar-thumb:hover {
        background-color:purple;
    }

/* END */


/* FOR LEARNERS PROGRESS */
.kid-in-card{
    width: 90%;
    height: 60%;
    border-radius: 5px;
    padding:15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */

    margin:0 auto;

}



/* FOR EXAM */
.test-container{
   
    right:5px;
}

@media (min-width:1030px){

    .teacher-task-view{
        width:80%;
    }

}


@media (max-width:1030px){

    .booked-class-body{
        width:100%;

        padding-left:0px;
    }
    .kids-view{
        grid-template-columns: repeat(2,.9fr);
    }


}
@media (max-width:800px){


    .guardian-home-card a{
        
        position:relative;
        margin-top:10px;
    }
    .guardian-home-card{
        margin-top: 30px;
        width:95%;
        margin:auto auto 50px auto;


    }
    .kids-view{
        margin: 0 auto;
        padding-left: 3%;
        }
    
}
@media (max-width:650px){

    .guardian-home-view{
        display:inline;

        margin: 40px auto;
    }
    
    .guardian-home-card{
    width:85%;

    margin-top: 50px !important;


    }
    .kids-view{
        margin-top: 40px;
    }



}
@media (max-width:550px){
    .task-select{
        display:inline;
        padding-top:80px !important;


    }
    .task-select-card{
            width:80%;
            height:200px;
            margin-top:30px;


    }
    .kids-view{
        display: inline;
    }
    .kid-card{
        margin: 0 auto;
        margin-top: 20px;
    }


}