{% extends 'Users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_filters %}
{% block content %}






{% if not subject %}

{% else %}
    <br>
    <br>
    <br>
     <table class="container table">
        <thead>
          <tr>
            <th><h6>Topic</h6></th>
            <th><h6>Score</h6></th>
            <th><h6>Percentage</h6></th>
          </tr>
        </thead>
        <tbody>
        {% for topic in subject %}
          <tr>
              <td><a href="{% url 'test-detail' 'Topical' topic.uuid %}">{{ topic.topic }}</a></td>
            <td>{{ topic.marks }} / {{ topic.test_size }}</td>
            <td>{{ topic.marks|divide:topic.test_size }}%</td>
          </tr>
        {% endfor %}
        </tbody>
     </table>
{% endif %}














{% endblock %}