{% extends base_html %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}
<br><br><br><br>


<div class="bg-gradient">
    
    <div class="container">
    <br><br>

    <div style="color: white;">
        <h5>{{ subject.name }} {{ subject.grade }}</h5>
        <a class="btn btn-dark" style="color: white;" href="{% url 'questions' subject.id %}">View Questions</a>
    </div>
    </div>
    <br>

    <div class="class-subject-view">
        <a>
            <div class="analytic-card">
                <div class="analytic-title text-center">
                    Most Passed
                    <h6>Total Attempts {{ total }}</h6>
                    <h6>Passed Total {{ correct }}</h6>
                    <h6>Failed Total {{ failed }}</h6>

                   
    
                </div>
    
            </div>
        </a>
        <a>
            <div class="analytic-card">
                <div class="analytic-title">
                    <div class="text-center">Subject Average</div>
                    
                 
                    <div class="text-center" >
                        <br>
                        <div style="width: 150px;height: 150px;margin: 0 auto;">
                            <canvas id="donutChart" width="50" height="50" ></canvas>
                        </div>
                        
                        
                        <small class="text-muted">Mean {{ mean }}%</small>
                    </div>
                    
                    
    
                </div>
    
            </div>
        </a>
        {% if most_failed %}
        <a>
            
            <div class="analytic-card">
                <div class="analytic-title text-center">
                    Most Failed

                    <h6>{{ most_failed.topic_name }}</h6>
                    <div style="margin: 0 auto !important;">
                        <div class="progress-bar" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto;background: radial-gradient(closest-side, rgba(29, 25, 46,.99) 79%, transparent 80% 100%),   conic-gradient(hotpink {{ most_failed.topic_id|average_percentile:most_failed.failed_questions_count }}%, rgb(29, 25, 46) 0);">
                            <div id="progress-value" style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                
                            </div>
                        </div>
                        
                    </div>

                    <div class="text-center">
                        <small class="text-muted">Average Fail {{ most_failed.topic_id|average_percentile:most_failed.failed_questions_count }}</small>
                    </div>
                    
    
                </div>
    
            </div>
            
        </a>
        {% endif %}
        {% if most_passed %}
        <a>
            <div class="analytic-card">
                <div class="analytic-title text-center">
                    Most Passed

                    <h6>{{ most_passed.topic_name }}</h6>

                    <div style="margin: 0 auto !important;">
                        <div class="progress-bar" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto;background: radial-gradient(closest-side, rgba(29, 25, 46,.99) 79%, transparent 80% 100%),   conic-gradient(hotpink {{ most_passed.topic_id|average_percentile:most_passed.pass_questions_count }}%, rgb(29, 25, 46) 0);">
                            <div id="progress-value" style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="text-center">
                        <small class="text-muted">Average {{ most_passed.topic_id|average_percentile:most_passed.pass_questions_count }}</small>
                    </div>
    
                </div>
    
            </div>
        </a>
        {% endif %}

        

 

    {% for topic in topics %}

        <a>
            <div class="analytic-card">
                <div class="analytic-title text-center">
                    {{ topic.name }}
                    <br><br>

                    <div style="margin: 0 auto !important;">
                        <div class="progress-bar" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto;background: radial-gradient(closest-side, rgba(29, 25, 46,.99) 79%, transparent 80% 100%),   conic-gradient(hotpink {% topic_percentile topic.id %}%, rgb(29, 25, 46) 0);">
                            <div id="progress-value" style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                
                            </div>
                        </div>
                        
                    </div>

                    <div class="text-muted">
                        Mean - {% topic_percentile topic.id %} %
                    </div>

                </div>

            </div>
        </a>




    {% endfor %}
</div>












<script>
    var mean = '{{ mean }}'
    pss = 100 - mean
    pst = mean - pss
    var data = {
        labels: ['pass', 'fail'],
        datasets: [{
            data: [pss, pst], // Adjust the values as needed
            backgroundColor: ['rgba(255, 99, 132, 0.7)', 'rgba(54, 162, 235, 0.7)'], // Adjust the colors as needed
            hoverBackgroundColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)'], // Hover colors
            borderWidth: 1,
        }]
    };
    

    var config = {
        type: 'doughnut',
        data: data,
        options: {
            cutout: '80%', // Adjust the cutout percentage as needed
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom', // Adjust the legend position as needed
                }
            }
        }
    };

    var ctx = document.getElementById('donutChart').getContext('2d');
    var myChart = new Chart(ctx, config);
</script>




</div>
</div>


{% endblock %}