{% extends 'Teacher/teachers_base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}
<br><br><br><br>
<div class="container">

    <div>
        <h5>{{ subject.name }} {{ subject.grade }}</h5>
    </div>
    <br><br><br><br>

    <div class="class-subject-view">
        <a>
            <div class="analytic-card">
                <div class="analytic-title">
                    <div class="text-center">Subject Average</div>
                    
                 
                    <div class="text-center" >
                        <div style="margin: 0 auto !important;">
                            <div class="progress-bar" style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto;background: radial-gradient(closest-side, rgb(29, 25, 46) 79%, transparent 80% 100%),   conic-gradient(hotpink {{ mean }}%, rgb(29, 25, 46) 0);">
                                <div id="progress-value" style="display: flex; align-items: center; justify-content: center; height: 100%;">
                                    
                                </div>
                            </div>
                            
                          </div>
                        
                        <small class="text-muted">Mean {{ mean }}%</small>
                    </div>
                    
                    
    
                </div>
    
            </div>
        </a>

        <a>
            <div class="analytic-card">
                <div class="analytic-title">
                    Most Failed

                    <h6>{{ most_failed.topic_name }}</h6>
                    <h6>Average {{ most_failed.failed_questions_count }}</h6>
    
                </div>
    
            </div>
        </a>

        <a>
            <div class="analytic-card">
                <div class="analytic-title">
                    Most Passed

                    <h6>{{ most_passed.topic_name }}</h6>
                    <h6>Average {{ most_passed.pass_questions_count }}</h6>
    
                </div>
    
            </div>
        </a>

        <a>
            <div class="analytic-card">
                <div class="analytic-title">
                    Most Passed
    
                </div>
    
            </div>
        </a>

 

    {% for topic in topics %}

        <a>
            <div class="analytic-card">
                <div class="analytic-title">
                    {{ topic.name }}

                    <div>
                        Mean - 76 %
                    </div>

                </div>

            </div>
        </a>




    {% endfor %}
</div>







</div>


{% endblock %}