{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
<div class="container">




    <div class="input-group mb-3">
        <input type="text" class="form-control" value="{{ student.personalprofile.f_name }} {{ student.personalprofile.l_name }} {{ student.personalprofile.surname }}" aria-label="Username" readonly>
        <span class="input-group-text">@</span>
        <select class="form-select" aria-label="Default select example">
            <option selected>{{ student }}</option>
            
          </select>
      </div>


      <select class="form-select" aria-label="Default select example" id="paymentMethod" onchange="togglePaymentMethod()">
        <option selected disabled hidden>Select Payment Method</option>
        <option value="mpesa">M-Pesa</option>
        <option value="bank">Bank</option>
    </select>
    <br><br>
    <div id="mpesaFields" style="display: none;">
    <div class="input-group mb-3"  >
        <input type="text" class="form-control" placeholder="QWH6796IKL" aria-label="receipt" required>
        <!-- <input type="number" class="form-control" placeholder="5000" aria-label="amount" required> -->
        <span class="btn btn-primary">Transaction ID</span>
    </div>
    
    <button class="btn btn-primary">Verify</button>
</div>
    
    <div class="input-group mb-3" id="bankFields" style="display:none;">
        <!-- Add bank-specific input fields here -->
        Bank-specific Input: <input type="text" id="bankInput" required>
    </div>
    
    <script>
        function togglePaymentMethod() {
            var paymentMethod = document.getElementById("paymentMethod").value;
            var mpesaFields = document.getElementById("mpesaFields");
            var bankFields = document.getElementById("bankFields");
    
            if (paymentMethod === "mpesa") {
                mpesaFields.style.display = "inline";
                bankFields.style.display = "none";
            } else if (paymentMethod === "bank") {
                mpesaFields.style.display = "none";
                bankFields.style.display = "block";
            }
        }
    </script>
    





</div>

{% endblock %}