{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
<div class="container">

    <h5>Payment Receipt</h5>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                {{ payment.invoice.received_from }} {{ payment.amount }}
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ payment.title }} received on {{ payment.date }}</strong>
                        <br>
                        {{ payment.description }}
                        
                        <br>
                        <div>Invoice amount - {{ payment.invoice.amount }}
                            <br>
                            Amount paid - {{ payment.amount }}
                            <br>
                            Balance after this payment {{ payment.balance }}
                        </div>
                        
                        <br><br>
                        <a class="btn btn-danger" >Amount {{ payment.amount }} | Balance {{ payment.balance }}</a>
                    </div>
            </div>
        </div>
        
    
    </div>

<br><br>
<hr class="text-center">
<br><br>
<h5>Invoice</h5>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                {{ invoice.received_from }} {{ invoice.amount }}
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ invoice.title }} received on {{ invoice.date }}</strong>
                        <br>
                        {{ invoice.description }}
                        
                        <br>
                        
                        <br><br>
                        <a class="btn btn-warning" >Amount {{ invoice.amount }}</a>
                    </div>
            </div>
        </div>
    
    </div>




    
</div>

{% endblock %}