{% extends 'Supervisor/base.html' %}
{% load custom_filters %}
{% block content %}

<br><br><br><br>
<div class="container">


    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                {{ invoice.received_from }} {{ invoice.amount }}
            </h2>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>{{ invoice.title }} received on {{ invoice.date }}</strong>
                        <br>
                        {{ invoice.description }}
                        
                        <br>
                        Balance is {{ invoice.balance }}
                        
                        <br><br>
                        <a class="btn btn-warning" >Amount {{ invoice.amount }}</a>
                        <a class="btn btn-danger">Balance {{ invoice.balance }}</a>
                    </div>
            </div>
        </div>
    
    </div>
    <br><br>

    {% if invoice.balance == 0 %}


    {% else %}
<div class="text-center form-view">
    <h5>Pay Invoice</h5>


    <form method="post" style="margin: 0 auto; width: 70%;">
        {% csrf_token %}
        

        <br>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="phone" id="floatingInput" placeholder="{{ invoice.contact_info }}" required>
                    <label for="floatingInput" style="color: crimson;">{{ invoice.contact_info }}*(required)</label>
                </div>
            </div>
            <div class="col-md-6">    
                <div class="form-floating mb-3">
                <input type="number" class="form-control" name="amount" id="floatingInput" placeholder="payment for" required>
                <label for="floatingInput" style="color: crimson;">Amount*(required)</label>
                </div>
            </div>
            
        </div>
        <br>
        <button class="btn btn-danger" style="color: white;">Pay</button>

    </form>

</div>
{% endif %}
<br><br>


<table class="table">
    <thead>
      <tr>
        <th><h6><input type="checkbox"></h6></th>
        <th><h6>Id</h6></th>
         <th><h6>Date</h6></th>
        <th><h6>Amount</h6></th>
    
        <th><h6>Balance</h6></th>
      </tr>
    </thead>
    <tbody>
      
      {% for invoice in payments %}
        <tr>
          
          <td><input type="checkbox"></td>
          <td><a ><h6>{{ forloop.counter }}</h6></a></td>
          <td>{{ invoice.date }}</td>

          <td>{{ invoice.amount }}</td>
          <td>{{ invoice.balance }}</td>
      
          
        </tr>
      {% endfor %}
    </tbody>
 </table>

</div>

{% endblock %}